a {
  text-decoration:none;
}
body {
    margin: 0;
    height: 100%;
}
footer {
  position: relative;
  padding-top: 100px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  vertical-align: bottom;
  
}
h2 {
  color: white;
}
h5 {
  color: white
}
ul li{
  display: inline;
  vertical-align: top;
  padding: 10px;
  font-size: 20px;
}
.columns {
  vertical-align: top;
  display:inline-block;
  width: 31%;
  margin: 0;
  text-align: center;
  padding: 5px;
}
.footerIcon{
  width: 25px;
  height: 25px;
  padding-left: 10px;
  padding-right: 10px;
}
.grow {
  font-size: 20px;
  text-decoration:none;
  color: black;
}
.grow:hover {
  transform: scale(1.1);
}
.icons {
  display: inline-block;
  margin: auto;
  padding-bottom: 10px;
}
.iconHeader {
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 20px;
}
.links {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: transform .2s;
}
.links:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.navBarLinks {
  
}
.proj {
  width: 32%;
  margin: 20%;
  vertical-align: top;
  display:inline-block;
  position:relative;
  margin: 0;
}
.projDescription {
  text-align: center;
  vertical-align: bottom;
  position: absolute;
  top: 90%;
  left: 0;
  right: 0;
  height: 100%;
  color: black;
  visibility: hidden;
  opacity: 1;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}
.proj:hover .projDescription {
  visibility: visible;
  opacity: .5;
}
.projImg {
  height: 45%;

  display:block;
  margin:auto;
}
#aboutText {
  font-size: 20px;
  padding: 10px
}
#contact {
  background-color: rgb(148,61,199);
}
#navBar {
  top: 1%;
  left: 1%;
  position: fixed;
}
#particles-js {
  height: 500px;
  
  background-image: url("images/space.jpg");
}
#profpic {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
#profPicDiv {
  text-align: center;
  position: absolute;
  top: 40%;
  left:50%;
  transform:translate(-50%,-50%);
}
#projects {
  padding-top: 40px;
}
#skillsList {
  padding: 10px;
}
#threeColumns {
  padding-top: 20px;
}
#vote {
  transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
}
