<html>
  <head>
    <meta charset="utf-8">
    <title>Draden Gaffney</title>
    <link rel="stylesheet" href="./templateStyles/shedStyle.css">
  </head>
  <body>



      <div id="navBar">
        <ul>
          <li class="navBarLinks">Draden Gaffney</li>
          <li class="navBarLinks"></li>
          <li class="navBarLinks"></li>
          <li class="navBarLinks"></li>
          <li><a class="navBarLinks" href="../index.html#threeColumns">Portfolio</a></li>
          <li><a class="navBarLinks" href="../index.html#projects">Projects</a></li>
          <li><a class="navBarLinks" href="../index.html#contact">Contact</a></li>
        </ul>
      </div>
      <img src="../images/ethChart.png" style="width:100%" height="400">

      <img id="twitterPic" src="../images/twitter.png" height="200" width="200" style="float:left">
      <p class="shedText">
        Draden was invited to collaborate on a Ethereum Auto Trader project in March 2018. The algorithm uses Twitter Inc. sentiment in predicting the ethereum price the next hour and posting to twitter the predictions. It uses a model that is fed data from the past month of ethereum's price and the emotions towards ethereum throughout the month to predict the price. The project is still heavily in the works, and has had success as high as 70 percent in predicting whether or not the price will rise or drop the next hour. Draden will continue working on this project in the upcoming months.
      </p>
      <img src="../images/ethTweet1.png" height="300" width="550">
      <img src="../images/ethTweet2.png" width="300" height="400">





       <footer>
        dsg2dm@virginia.edu

          <a href="https://github.com/dradeng">
            <img class="footerIcon" src="images/git.png">
          </a>
          <img class="footerIcon" src="images/linkedin.png">
        &copy 2018 Draden Gaffney
    </footer>

  </body>
</html>
