<html>
  <head>
    <meta charset="utf-8">
    <title>Draden Gaffney</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>



      <div id="navBar">
        <ul>
          <li><a class="navBarLinks" href="#threeColumns">Portfolio</a></li>
          <li><a class="navBarLinks" href="#projects">Projects</a></li>
          <li><a class="navBarLinks" href="#contact">Contact</a></li>
        </ul>
      </div>







      <footer>
        <p>dsg2dm@virginia.edu &copy 2018 Draden Gaffney</p>
      </footer>

  </body>
</html>
