<html>
  <head>
    <meta charset="utf-8">
    <title>Draden Gaffney</title>
    
    <link rel="stylesheet" href="./templateStyles/shedStyle.css">
  </head>
  <body>
    


      <div id="navBar">
        <ul>
          <li><a class="navBarLinks" href="#threeColumns">Portfolio</a></li>
          <li><a class="navBarLinks" href="#projects">Projects</a></li>
          <li><a class="navBarLinks" href="#contact">Contact</a></li>
        </ul>
      </div>

      <div id="topShedRow">

        <div class="shedImage">
          <img class="topImg" src="../images/shed1.webp" height="300">
        </div class="shedImage">

        <div class="shedImage">
          <img class="topImg" src="../images/shed.jpg" height="300">
        </div>

        <div class="shedImage">
          <img class="topImg" src="../images/shed2.webp" height="300">
        </div>

      </div>

        <p class="shedText">

          Shed is the next step in the sharing economy, bringing together leases and split purchases into one simple ecosystem, thereby facilitating a decrease in economic waste while contributing to a greener society. Featuring in-app purchase processing, in-app scheduling and messaging, as well as in-app channels created by users for quick and easy sharing, Shed integrates Walmart, Jet, and Amazon API to make each and every purchase easy and intuitive, all while saving you money at no cost to usability.

        </p>

      <div>
        <img src="../images/shed3.webp">
        <img src="../images/shed4.webp">
        <img src="../images/shed5.webp">
        <img src="../images/shed6.webp">
        <img src="../images/shed7.webp">
        <img src="../images/shed8.webp">
      <div>

     



      <footer>
        <p>dsg2dm@virginia.edu &copy 2018 Draden Gaffney</p>
      </footer>

  </body>
</html>
