<html>
  <head>
    <meta charset="utf-8">
    <title>Draden Gaffney</title>
    
    <link rel="stylesheet" href="./templateStyles/shedStyle.css">
  </head>
  <body>
    


      <div id="navBar">
        <ul>
          <li><a class="navBarLinks" href="#threeColumns">Portfolio</a></li>
          <li><a class="navBarLinks" href="#projects">Projects</a></li>
          <li><a class="navBarLinks" href="#contact">Contact</a></li>
        </ul>
      </div>

      <div>
        <img style="float:left; padding-bottom:25px;" src="../images/shed.jpg">
        <p class="shedText" >
          Draden was introduced to Shed while living in New Zealand in July 2017 through one of his fraternity brothers. The startup was based on using react-native for the front end and testing out mongoDB and firebase for the back-end; eventually going with firebase. Draden worked on Shed til Febuary 2018 and had to stop due to an inadequate amount of time to commit to the team. While working on Shed, Draden helped engineer the data architecture, news-feed functionality, and UX design.  
        </p>
      <div>

      <div id="topShedRow">

        <div class="shedImage">
          <img class="topImg" src="../images/shed1.webp" height="300">
        </div class="shedImage">

        <div class="shedImage">
          <img class="topImg" src="../images/shed2.webp" height="300">
        </div>

        <div class="shedImage">
          <img class="topImg" src="../images/shed3.webp" height="300">
        </div>

        <div class="shedImage">
          <img class="topImg" src="../images/shed4.webp" height="300">
        </div>

      </div>

        <p class="shedText">

          Shed is the next step in the sharing economy, bringing together leases and split purchases into one simple ecosystem, thereby facilitating a decrease in economic waste while contributing to a greener society. Featuring in-app purchase processing, in-app scheduling and messaging, as well as in-app channels created by users for quick and easy sharing, Shed integrates Walmart, Jet, and Amazon API to make each and every purchase easy and intuitive, all while saving you money at no cost to usability.

        </p>


      <div class="shedImage">
        <img class="topImg" src="../images/shed5.webp" height="300">
      </div>

      <div class="shedImage">
        <img class="topImg" src="../images/shed6.webp" height="300">
      </div>

      <div class="shedImage">
        <img class="topImg" src="../images/shed7.webp" height="300">
      </div>

      <div class="shedImage">
        <img class="topImg" src="../images/shed8.webp" height="300">
      </div>


     



      <footer>
        <p>dsg2dm@virginia.edu &copy 2018 Draden Gaffney</p>
      </footer>

  </body>
</html>
