<html>
  <head>
    <meta charset="utf-8">
    <title>Draden Gaffney</title>
    <link rel="stylesheet" href="./templateStyles/shedStyle.css">
  </head>
  <body style="background-image: url(../images/voteBackground.jpg)">



      <div id="navBar">
        <ul>
          <li class="navBarLinks">Draden Gaffney</li>
          <li class="navBarLinks"></li>
          <li class="navBarLinks"></li>
          <li class="navBarLinks"></li>
          <li><a class="navBarLinks" href="../index.html#threeColumns">Portfolio</a></li>
          <li><a class="navBarLinks" href="../index.html#projects">Projects</a></li>
          <li><a class="navBarLinks" href="../index.html#contact">Contact</a></li>
        </ul>
      </div>


      <p>
        Vote is a project Draden worked on with 9 other people during his spring semester this year while attending UVa. His team used Django, Docker, and perlscript to create a web application that follows the electronic guidelines for the voting system in Virginia. Draden focused on the security and printer interaction for this project. For security, Draden handled the encryption of HTTP Request when sent from the client's computer to the web server, and vice versa, ensuring that none of the data has been manipulated. Draden also handled all the interaciton with printing the ballots and printing barcodes to validate each vote. By using a mix of perlscript and javascript, the application would print the necessary documents either on the server's printer or client's printer securely without any need for human arbitration.
      </p>



       <footer>
        dsg2dm@virginia.edu

          <a href="https://github.com/dradeng">
            <img class="footerIcon" src="../images/git.png">
          </a>
          <img class="footerIcon" src="../images/linkedin.png">
        &copy 2018 Draden Gaffney
    </footer>

  </body>
</html>
